APP_NAME=DTE-Microservice
API_VERSION=3.0.0

APP_LANG=es
APP_LANG_PATH=/assets/i18n/
DEBUG=true
FORCE_CONTINGENCY=false
RUN_MIGRATION=false

SERVER_PORT=7319
ADMIN_EMAIL=
MH_AMBIENT_CODE=00
MH_MAX_BATCH_SIZE=100
JWT_SECRET=secret-jwt-phrase

LOG_LEVEL=debug
LOG_PATH=/assets/logs/
LOG_FILE_LOGGING=true

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

SIGNER_PATH=
SIGNER_HEALTH=

MH_AUTH_URL=https://apitest.dtes.mh.gob.sv/seguridad/auth
MH_RECEPTION_URL=https://apitest.dtes.mh.gob.sv/fesv/recepciondte
MH_LOTE_RECEPTION_URL=https://apitest.dtes.mh.gob.sv/fesv/recepcionlote
MH_RECEPTION_CONSULT_URL=https://apitest.dtes.mh.gob.sv/fesv/recepcion/consultadte
MH_RECEPTION_CONSULT_LOTE_URL=https://apitest.dtes.mh.gob.sv/fesv/recepcion/consultadtelote
MH_CONTINGENCY_URL=https://apitest.dtes.mh.gob.sv/fesv/contingencia
MH_NULLIFY_URL=https://apitest.dtes.mh.gob.sv/fesv/anulardte

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_TLS=true
NOTIFY_COOLDOWN_MINUTES=15
